body {
   background-color: white;
}


h1 {
   color: black;
   font-size: 60px;
   text-align: center;
   font-family: Courier;
}


p {
   color: black;
   font-size: 30px;
   padding: 10px 5px 5px 20px;

}

h2 {
   font-size: 40px;
   color: red;
   text-align: center;
}


div {
   background-color: purple;
   color: white;
   border: 2px solid black;
}



.slider {
   width: 600px;
   height: 400px;
   background: url(images/first.jpg);
   margin: 10px auto;
   animation: slide 5s infinite;
}

@keyframes slide {

   25%{
   background: url(images/first.jpg);
}

   50%{
   background: url(images/first2.jpg);
}

   75%{
   background: url(images/first3.jpg);
}

   100%{
   background: url(images/first4.jpg);
}
}
